body {
	height: 100vh;
}

#background {
	position: fixed;
	align-content: center;
	margin: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	display: inline-block;
}

#background img {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	object-fit: cover;
	transform: scale(1.01);
	filter: brightness(.5) blur(4px);
}

#main-buttons {
	display: inline-flex;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	top:20%;
}

#main-buttons .button {
	left:unset;
	transform: unset;
	margin: 0px max(1vh, 1vw);
	width: max(13vw, 20vh);
	height: max(5vw, 10vh);
}

#main-buttons .button button {
	word-wrap: normal;
	white-space: normal;
}

#header {
	border-collapse: collapse;
	table-layout: fixed;
	position: relative;
	width: max(26vw, 41vh);
	height:100%;
	left:50%;
	top:40%;
	transform: translateX(-50%);
	color: white;
	font-family: Bebas;
	font-size: calc(max(1vw, 2vh) * 2.25);
	border-bottom: solid 2px white;
}

#header .map-version {
	cursor: default;
}

#header .pack-version {
	cursor: default;
}

#header .version {
	cursor: default;
}

#header thead:nth-child(2) {
	margin-right: -7px;
}

#downloads {
	position: relative;
	display: block;
	top:40%;
	z-index: 2;
	width: max(25vw, 40vh);
	height: 40%;
	left:50%;
	overflow-y: auto;
	transform: translateX(-50%);
	-webkit-mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%)
}

#downloads table {
	border-collapse: collapse;
	table-layout: fixed;
	position: relative;
	overflow: scroll;
	width:100%;
	height:100%;
}

#downloads table tr {
	color: lightgray;
	font-family: Bebas;
	font-size: calc(max(1vw, 2vh) * 2);
	clip-path: all;
}

::-webkit-scrollbar {
	overflow: hidden;
	opacity: 0;
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: rgba(50,50,50,.5);
}

::-webkit-scrollbar-thumb {
	background-color: lightgray;
	background-clip: content-box;
	border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: white;
	box-shadow: 0px 0px 3px rgba(255,255,255,.35);
}

.map-version {
	text-align: right;
	font-size: calc(max(1vw, 2vh) * 2);
	padding-right: max(1vh, 1vw);
	border-bottom: solid 2px white;
}

.map-version:hover {
	cursor: pointer;
}

.pack-version {
	text-align: left;
	font-size: calc(max(1vw, 2vh) * 2);
	padding-left: max(1vh, 1vw);
	border-bottom: solid 2px white;
}

.pack-version:hover {
	cursor: pointer;
}

.version {
	text-align: center;
	border-bottom: solid 2px white;
}

.version:hover {
	cursor: default;
}

@font-face {
	font-family: Bebas;
	src: url("../fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
	font-family: Whitney;
	src: url("../fonts/whitney-semibold.otf") format("opentype");
}

@keyframes underlineLeft {
	0% {
		border-bottom: solid 4px white;
		left: 0%; 
	}
	100% {
		border-bottom: solid 4px white;
		left: 100%; 
	}
}