.link {
	display: inline-flex;
	position: relative;
	width:100%;
	border-bottom: solid white 4px;

	transition-timing-function: ease-in-out;
	transition: background-position-x .2s, color .2s;
	background-position-x: 0%;
	background-image: linear-gradient(to right, transparent 50%, rgba(255,255,255,.7) 50%);
	background-size: 200% 100%;
}

.link:hover {
	background-position-x: -100%;
	cursor: pointer;
}

.link:hover p {
	color: black;
}

.link p {
	padding: 0px max(1vw, 2vh);
	margin: 0;
	align-items: center;
	display: inline-flex;
	position: relative;
	width:100%;
	font-family: Whitney;
	font-size: calc(max(1vw, 2vh) * 1.25);
	color:white;
}

.link img {
	align-items: center;
	justify-content: center;
	position: relative;
	display: block;
	height: calc(max(1vw, 2vh) * 4);
	width: calc(max(1vw, 2vh) * 4);
	margin: 0;
	padding: 0;
}


#official-links {
	overflow: auto;
	height:70%;
	top: 15%;
	width: max(50vw, 70vh);
	justify-content: center;
	align-items: center;
	padding: 0px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	position: fixed;
	-webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

#official-links ul {
	list-style: none;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#official-links ul li {
	display: table-row-group;
	margin: calc(max(1vw, 2vh)) calc(max(1vw, 2vh) * 1.25);
	background-color: rgba(0,0,0,.5);
	height: calc(max(1vw, 2vh) * 4);
	padding: 0px;
}

@font-face {
	font-family: Bebas;
	src: url("../fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
	font-family: Whitney;
	src: url("../fonts/whitney-semibold.otf") format("opentype");
}

@media only screen and (max-width: 550px) {
	#official-links {
		width: max(26vw, 41vh);
	}
	#official-links ul {
		grid-template-columns: 1fr;
	}
}