#background {
	position: fixed;
	align-content: center;
	margin: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	display: inline-block;
}

#background img {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	object-fit: cover;
	transform: scale(1.01);
	filter: brightness(.85) blur(3px);
}

.link {
	display: inline-flex;
	position: relative;
	width:100%;
	border-bottom: solid white 4px;

	transition-timing-function: ease-in-out;
	transition: background-position-x .2s, color .2s;
	background-position-x: 0%;
	background-image: linear-gradient(to right, transparent 50%, rgba(255,255,255,.7) 50%);
	background-size: 200% 100%;
}

.link:hover {
	background-position-x: -100%;
	cursor: pointer;
}

.link:hover p {
	color: black;
}

.link p {
	padding: 0px calc(max(1vw, 2vh) * 1);
	margin: 0;
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	align-items: center;
	display: inline-flex;
	position: relative;
	width:100%;
	font-family: Whitney;
	font-size: calc(max(1vw, 2vh) * 1.25);
	color:white;
}

.link img {
	align-items: center;
	justify-content: center;
	position: relative;
	display: block;
	height: calc(max(1vw, 2vh) * 4);
	width: calc(max(1vw, 2vh) * 4);
	margin: 0;
	padding: 0;
}


#official-links {
	height:70%;
	top: 15%;
	width: max(50vw, 70vh);
	justify-content: center;
	align-items: center;
	padding: 0px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	position: fixed;
	-webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%), linear-gradient(to top, transparent 0%, black 10%);
}

#official-links ul {
	list-style: none;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#official-links ul li {
	display: table-row-group;
	margin: calc(max(1vw, 2vh) * 1) calc(max(1vw, 2vh) * 1.25);;
	background-color: rgba(0,0,0,.5);
	height: calc(max(1vw, 2vh) * 4);
	padding: 0px;
}

@font-face {
	font-family: Bebas;
	src: url("../fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
	font-family: Whitney;
	src: url("../fonts/whitney-semibold.otf") format("opentype");
}

@media only screen and (max-width: 550px) {
	#official-links {
		width: max(26vw, 41vh);
		overflow-y: scroll;
	}
	#official-links ul {
		grid-template-columns: 1fr;
	}
}
