body {
	margin: 0px;
}

footer {
	margin: 0px;
	position: fixed;
	bottom: 0;
	z-index: 3;
	background-image: linear-gradient(transparent, black);
	height: 10%;
	width: 100%;
}

footer p {
	margin:0px;
	top:50%;
	left:50%;
	text-align: center;
	position: relative;
	color:white;
	font-family: Whitney;
	text-align: center;
	transform: translate(-50%, -50%);
}

#menu {
	z-index: 9;
	position: fixed;
	display: block;
	height: 100%;
	width: calc(20vh + 5vw);
	right: -25%;
	top: 0;
	opacity: 0;
	background-image: linear-gradient(90deg, rgba(0,0,0,.35), transparent);
	box-shadow: 0px 0px 3px rgba(0,0,0,.35);
}

#menu hr {
	margin: 2px 5% 3px 5%;
	z-index: 11;
	position: relative;
	top:10%;
	width: 90%;
	color: lightgray;
	justify-content: center;
}

#menu div {
	transition-duration: .2s;
	z-index: 11;
	padding: 2% 0%;
	margin: 0% 5%;
	position: relative;
	top:10%;
}

#menu div:hover {
	box-shadow: 0px 0px 3px rgba(255,255,255,.35);
	cursor: pointer;
	z-index: 11;
	padding: 2% 0%;
	margin: 0% 5%;
	position: relative;
	top:10%;
	transition-duration: .2s;
	background-color: rgba(255,255,255,.35);
}

#menu div span {
	padding: 0 5px;
	font-family: Whitney;
	font-size: 150%;
	color: white;
	text-shadow: 0px 0px 2px black;
}

.toolbar {
	display: inline-flex;
	margin: 0px;
	position: fixed;
	z-index: 10;
	background-image: linear-gradient(black, transparent);
	height: 10vh;
	width: 100%;
}

.toolbar #homeButton {
	z-index: 12;
	position: absolute;
	height: 100px;
	width: 100px;
	margin: 0em .75em 0px 0px;
	padding: 0;
}

.toolbar #homeButton a img {
	transform: scale(.80);
	transition: .2s;
	position: relative;
}

.toolbar #homeButton a img:hover {
	transform: scale(.85);
	transition: .2s;
	position: relative;
}

.toolbar #links {
	position: relative;
	width: 100%;
	height: 100%;
}

.toolbar #links ul {
	padding: 0;
	position: relative;
	z-index: 11;
	display: flex;
	justify-content: center;
	list-style-type: none;
	transform: translate(0%, -25%);
}

.toolbar #links ul li {
	display: inline-block;
	margin: 40px;
	transition: .2s;
}

.toolbar #links ul li a {
	color:white;
	font-size: 3vh;
	font-family: Whitney;
	text-align: center;
	text-decoration: none;
	color: lightgray;
	transition: .2s;
	letter-spacing: 1px;
	text-shadow: 0px 0px 2px black;
}

.toolbar #links ul li a:hover {
	color:white;
	letter-spacing: 1px;
	text-shadow: 0px 0px 2px white;
}

.toolbar #links ul li:hover {
	transform: scale(1.05);
	transition: .2s;
}

.toolbar #menuButton {
	transform: scale(.8);
	transition-duration: .2s;
	z-index: 12;
	position: absolute;
	right: 0;
	height: 100%;
	margin: 0em .75em 0px 0px;
	padding: 0;
}

.toolbar #menuButton:hover {
	transform: scale(.85);
	transition-duration: .2s;
	position: absolute;
	margin: 0em .75em 0px 0px;
	cursor: pointer;
}

.toolbar #menuButton div {
	z-index: 10;
	transition-duration: .2s;
	position: relative;
	box-shadow: 0px 0px 5px black;
	background-color: lightgray;
	padding: 5px 35px;
	margin-top: .75em;
}

.toolbar #menuButton:hover div {
	z-index: 10;
	transition-duration: .2s;
	position: relative;
	box-shadow: 0px 0px 5px white;
	background-color: white;
	padding: 5px 35px;
	margin-top: .75em;
}

.title {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
}

.title h3 {
	position: relative;
	text-shadow: 0px 0px 10px black;
	color: white;
	font-family: Bebas;
	font-size: calc((2vw + 2vh)/1.25);
	text-align: center;
	margin: 0;
	padding:0;
	top: 32%;
}

.title h1 {
	position: relative;
	text-shadow: 0px 0px 10px black;
	color: white;
	font-family: Bebas;
	font-size: calc(4vw + 4vh);
	text-align: center;
	top: 32%;
	padding: 0;
	margin: 0;
}

.button {
	display: flex;
	position: relative;
	width: max(15vw, 22vh);
	transform: translateX(-50%);
	left: 50%;
	height: max(3vw, 5vh);
	top:32%;
}

.button button {
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: Whitney;
	font-size: calc(max(1vw, 2vh) * 1.25);
	color: white;
	text-shadow: 0px 0px 2px black;
	height: 100%;
	position: relative;
	transform: translateX(0%);
	transform-origin: center;
	background-color: rgba(0, 0, 0, .45);
	border-color: white;
	border-style: solid;
	border-width: 3px;
	outline: none;
	transition-duration: .2s;
}

.button button:hover, button:visited, button:focus {
	box-shadow: 0px 0px 2px white;
	transition-duration: .2s;
	transform: scale(1.025) translateX(0%);
	cursor: pointer;
}

.button button:active {
	box-shadow: 0px 0px 2px white;
	transition-duration: .2s;
	transform: scale(1.0) translateX(0%);
	cursor: pointer;
}

.animateFirst {
	opacity: 0;
	animation: slideInFade ease 1s;
	animation-delay: .25s;
	animation-fill-mode: forwards;
}

.animateSecond {
	opacity: 0;
	animation: slideInFade ease 1s;
	animation-delay: .4s;
	animation-fill-mode: forwards;
}

.animateThird {
	opacity: 0;
	animation: slideInFade ease 1s;
	animation-delay: .55s;
	animation-fill-mode: forwards;
}

@font-face {
	font-family: Bebas;
	src: url("../fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
	font-family: Whitney;
	src: url("../fonts/whitney-semibold.otf") format("opentype");
}

@media only screen and (max-width: 1025px) {
	#large {
		display: none !important
	}
	.sidebar div div:hover span {
		background-image: linear-gradient(90deg, rgba(0,0,0,.55), rgba(0,0,0,.15)) !important
	}

	#menu {
		background-image: linear-gradient(90deg, rgba(0,0,0,.85), rgba(0,0,0,.35));
	}
}

@media only screen and (max-width: 700px) {
	#medium {
		display: none !important
	}
}

@keyframes slideInFade {
	0% {
		top:50%;
		text-shadow: 0px 20px 10px black;
		opacity: 0;
	}
	100% {
		top:32%;
		text-shadow: 0px 0px 10px black;
		opacity: 1;
	}
}
