body {
	background:#233332;
	margin: 0;
	font-family: arial;
}

header {
	background-image: url("images/downtown2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

header p {
	display: block;
	font-size: 10vh;
	font-family: Bebas;
	color:white;
	text-shadow: 0px 0px 20px black;
	transition: 1s;
}

.toolbar {
	background-color: darkcyan;
	height:2.5em;
}

.toolbar ul {
	margin:0px 0px;
	padding: 0px 10px;
}

.toolbar ul li {
	display: inline-block;
	border-left-style: groove;
	border-left-width: 5px;
	border-left-color: darkorange;
	background-color: #484848;
	color: #DDDDDD;
	padding: 5px;
	margin-top: 5px;
	transition: .3s;
}

.toolbar ul li a {
	color: #DDDDDD;
	text-decoration: none;
	padding:5px 10px;
}

.toolbar ul li:hover {
	background-color: #b36200;
	box-shadow: 0px 0px 3px black;
	padding: 10px 5px;
	margin-top: 0px;
}

.content {
	width: 50vw;
	margin: 1em 25vw 0em 25vw;
	background-color: darkslategray;
	padding: 1vw;
	box-shadow: 0px 0px 10px black;
}

.content h1 {
	font-size: 3em;
	font-family: Bebas;
	color:white;
	text-shadow: 0px 0px 10px black;
	text-align: center;
	scroll-behavior: smooth;
}

.content p {
	color: #9A9A9A;
}

.content p a {
	color: #DDDDDD;
	text-decoration: none;
}

.content p a:hover {
	transition: .3s;
	text-shadow: 0px 0px 5px black;
	object-position: 
}


@font-face {
	font-family: Bebas;
	src: url("BebasNeueBold.otf") format("opentype");
}