.download-buttons {
    top: 60%;
    z-index: 100;
    line-height: 60px;

    >div {
        align-items: flex-start;
    }

    >div>.button-base,>div>.dropdown-base {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 50%;
        }

        word-wrap: break-word;
        margin: .25rem;

        >a,>button {
            word-break: keep-all;
        }
    }
}