@charset "utf-8";
@use "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "resourcepack";
@import "../components/button/button";
@import "../components/home/homeslide";
@import "../components/home/slidenav";
@import "../components/shared/menu";
@import "../components/shared/header";
@import "../components/dropdown/dropdown";

.swift-link {
  position: relative;
  text-decoration: none;
  display: inline-block;

  &::after {
    display: block;
    content: '';
    border-bottom: solid 1px variables.$selected-text-color;
    transform: scaleX(0) translateY(-2px);
    transition: transform .2s ease-in-out;
    transform-origin: 100% 50%;
  }

  &:hover::after,&:focus::after {
    transform: scaleX(1) translateY(-2px);
    transform-origin: 0 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

.animateFirst {
  animation-delay: .0s;

  //&.delay {
  //  animation-delay: .4s;
  //}
}

.animateSecond {
  animation-delay: .15s;

  //&.delay {
  //  animation-delay: .55s;
  //}
}

.animateThird {
  animation-delay: .3s;

  //&.delay {
  //  animation-delay: .7s;
  //}
}

//.fadeAway {
//  animation: fadeOut ease .2s;
//  animation-fill-mode: forwards;
//}

.fadeIn {
  animation: fadeIn ease .2s;
  animation-fill-mode: forwards;
}

.loadAnim {
  opacity: 0;
  animation: load ease .4s;
  animation-fill-mode: forwards;
}

.unloadAnim {
  animation: unload ease .2s;
  animation-fill-mode: forwards;
}

@keyframes unload {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes load {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFade {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    //transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}