@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

html {
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
}

:root {
	--item-bg-color-opacity: .2;

	@include media-breakpoint-down(md) {
		--item-bg-color-opacity: .5;
	}
}

$default-text-color: rgb(230, 230, 230);
$selected-text-color: rgb(255, 255, 255);
$item-bg-color: rgba(0,0,0,var(--item-bg-color-opacity));
$item-bg-color-hover: rgba(50,50,50,.35);
$small-screen-bg-color: rgba(0,0,0,.5);
$glass-shadow: rgba(0,0,0,.7) 0px 0px 4px;

$text-shadow-white: 0px 0px 2px rgba(255,255,255,.7);
$text-shadow-dark: 0px 0px 20px rgba(0,0,0,.7);

$title-pretext-size: 32pt;
$title-maintext-size: 48pt;
$text-size: 18pt;

$blur: blur(6px);

@font-face {
	font-family: Whitney;
    src: url("../fonts/whitney-semibold.otf") format("opentype");
}

@font-face {
	font-family: Bebas;
    src: url("../fonts/BebasNeueBold.otf") format("opentype");
}